.custom-shadow {
    box-shadow: -10px -10px 20px rgba(0, 0, 255, 0.5), 18px 14px 0px white;
    border: 5px solid white;
    position: relative;
    background-color: #000;
}

.custom-shadow video {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

